
<p > 
    Hello {{user}} !
</p>

<!--correspond à onclick="test()" mais en angular.
Lors du click, on appel une fonction callback appelée test dans notre composant associée à notre template-->



<div class="row">
    <div class="column">
        <button class="submitButton" (click)="userClick()">Click</button>
        <p>Inspecter la page et voir dans la console (pour débeuger vite fait ça peut etre utile, as usual)</p>
    </div>
    
    <div class="column" style="text-align: center; ">
        <img src="assets/imageTest.jpg" style="max-width:90%; height:auto;" >
    </div>

    <div class="column">
        <p>Ceci est une 3e colonne dont le css se trouve dans style.css, donc css global est utilisé même si on est dans le main.component :D</p>
    </div>
</div>

<div>
    <p>text apres la row</p>
</div>