

<div class="header">
    <h1>Application Angular</h1>
    <p>Formation "L'essentiel d'Angular" sur LinkedIn Learning</p>
  </div>


  <div>
      <!--on met pas de href sinon ça rechargerait toute la page-->
      <!-- A la palce on utilise une balise spéciale : routerLink="monUrl" -->
      <ul>
        <li> <a routerLink="/home" routerLinkActive="routeActive" >Accueil</a>  </li>
        <li> <a routerLink="/user" routerLinkActive="routeActive">Profil</a> </li>
        <li> <a routerLink="/train" routerLinkActive="routeActive">Trains</a> </li>
      </ul>
       
  </div>


<div>
    <!-- <app-main></app-main> plus besoin de ça car on a configuré la route dans le app.module.ts -->
    <router-outlet></router-outlet>
</div>




  


<div class="footer">
    <p>github.com/SamGVanN/angular_essentials_practice (private repo)</p>
</div>