<p>user works!</p>


<div class="exercice" style="padding: 10px;">
    <h2>ngModel</h2>
    <p>c'est une variable bi-directionnelle. À la fois, de notre composant vers le template, mais aussi du template vers le composant.</p>
    <input [(ngModel)]="userInput" >
    Test: {{userInput}}
</div>
<div class="exercice" style="padding: 10px;">
    <h2>FormControll</h2>
    <p>Comment mettre en place un formulaire reactive forms, ici juste avec un input FormControll</p>
    <input [formControl]="userInputRF">
    Test: {{userInputRF.value}}
</div>
    



